################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/32SCKCEN_INST-32SCKCEN_INST.zip_old
/32SCKCEN_INST-SCKCEN_TEST.zip_old
